@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Grandstander:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-image: url(./Assets/bg-img.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    transition: all 0.3s ease;
    box-shadow: inset 0 0 200px 100px black;
}

::selection{
    background: red;
    color: yellow;
    -webkit-text-stroke: black;
    -webkit-text-stroke-width: 0.5px;
}

.main-container{
    height: 100vh;
    width: 100vw;
    position: static;
    overflow-y: scroll;
}

.main-container::-webkit-scrollbar{
    width: 3px;

}

.main-container::-webkit-scrollbar-thumb{
    background: #3b4cca;
    border-radius: 100px;
}

.loading{
    display: none;
    transition: all 0.7s ease;
}

.loading h4{
    font-family: "Poppins", serif;
    font-weight: 300;
    position: absolute;
    bottom: 40%;
    color: white;
    font-size: 15px;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    background-size: 200% 200%;
    color: transparent;
    background-clip: text;
    background-position: 0 100%;
    animation: loadingForText 5s ease infinite;
}

.dotdiv{
    font-family: "Poppins", serif;
    position: absolute;
    height: 100%;
    width: 100%;
    background: black;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.loading .dots{
    opacity: 0;
    height: 15px;
    width: 15px;
    background-color: red;
    border-radius: 50%;
    box-shadow: 0 0 5px 2px rgba(255, 0, 0, 0.4),0 0 10px 5px rgba(255, 0, 0, 0.3),0 0 15px 7px rgba(255, 0, 0, 0.2), 0 0 30px 15px rgba(255, 0, 0, 0.1);
    animation: loading 1s linear infinite;
}

.dots:nth-child(1){
    animation-delay: .2s;
}
.dots:nth-child(2){
    animation-delay: .3s;
}
.dots:nth-child(3){
    animation-delay: .4s;
}
.dots:nth-child(4){
    animation-delay: .5s;
}
.dots:nth-child(5){
    animation-delay: .6s;
}
.dots:nth-child(6){
    animation-delay: .7s;
}

.main-container .main-head{
    padding: 5px 15px;
    text-align: center;
    height: 80px;
}

.main-head img{
    height: 110%;
}

.Allinputs{
    font-family: "Poppins", serif;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    flex-wrap: wrap;
    padding: 20px 5px;
}

.Allinputs > *{
    font-family: "Poppins", serif;
    width: max-content;
    font-weight: 300;
    font-size: 16px;
    padding: 12px 10px;
    border-radius: 10px;
    margin-top: 10px;
    border: none;
    background: rgba(255,255,255,0.3);
    color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
}

select option{
    font-family: "Poppins", serif;
    font-weight: 200;
    background-color: black;
    font-size: 16px;
}

select::-webkit-scrollbar{
    width: 5px;
}

select::-webkit-scrollbar-thumb{
    background: rgba(255,255,255,0.8);
    border-radius: 200px;
}

select::-webkit-scrollbar-track{
    background: black;
}
select option::-webkit-scrollbar{
    width: 3px;
}
select option::-webkit-scrollbar-thumb{
    background: #cc0000;
}

.Allinputs input[type = text]::placeholder{
    color: rgba(255, 255, 255, 0.8);
}


.Allinputs > *:focus-visible{
    outline: none;
}

.Allinputs button{
    padding: 10px 30px;
    color: white;
    border-radius: 1000px;
    transition: all 0.3s ease;
}

.Allinputs button:hover{
    border-top: 2px solid rgba(255,255,255,0.5);
    border-left: 2px solid rgba(255,255,255,0.5);
    transform: translateY(-3px);
    cursor: pointer;
    scale: 0.98;
    box-shadow: 0 5px 7px 2px rgba(0, 0, 0, 0.5);
}

.Allinputs button:active{
    scale: 0.8;
}

.divider{
    width: 80%;
    border: none;
    height: 2px;
    margin: 50px auto;
    background: linear-gradient(to right, #ff0000,#ffde00,#ffde00,#cc0000);
}

.poke-container{
    font-family: "Poppins", serif;
    width: 90%;
    margin: 0 auto;
    height: calc(100% - 139.2px);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    animation: fade-up 1s ease forwards;
}

.poke-card{
    font-family: "Poppins", serif;
    border-radius: 10px;
    height: 300px;
    width: 200px;
    perspective: 800px;
}

.poke-img-div{
    transform: translateZ(20px);
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}

.card-rank{
    background: rgba(255, 255, 255, 0.7);
    font-size: 18px;
    transform: translateZ(10px);
    margin-top: 15px;
    text-align: center;
}


.poke-img-div img{
    scale: 1.3;
}

.poke-name{
    transform: translateZ(20px);
    font-weight: 400;
    font-size: 25px;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    transition: color 0.2s ease;
}

.poke-name:hover{
    cursor: pointer;
    font-weight: 500;
}

#poke-abs{
    text-decoration: none;
    font-weight: 500;
    font-size: 10px;
    color: black;
    background: white;
    border-radius: 1000px;
    padding: 5px 10px;
    position: absolute;
}

.poke-type{
    font-weight: 100;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 70px;
}

.outer-card{
    font-weight: 100;
    border-radius: 10px;
    position: relative;
    height: 100%;
    width: 100%;
    transition: transform 0.3s ease;
    transform-style: preserve-3d;
    z-index: 10;
    box-shadow: 5px 10px 10px 7px rgba(0, 0, 0, 0.4);
    transition: all 0.4s ease;
}

.poke-card:hover .outer-card{
    cursor: pointer;
    transform: rotateY(180deg);
    scale: 1.15;
}

.card-front{
    z-index: 999;
    border-radius: 10px;
    position: absolute;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}

.card-back{
    position:absolute;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    border-radius: 10px;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.card-back .poke-name{
    color: rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease;
}

.card-back .poke-name:hover{
    color: black;
}

.abs{
    color: white;
    font-weight: 300;
    font-size: 11.5px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes loading {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
        /* transform: translateY(20px); */
    }
}

@keyframes loadingForText {
    0%{
        background-position: 0 100%;
    }
    50%{
        background-position: 100% 100%;
    }
    100%{
        background-position: 0 100%;
    }
}
@media screen and (max-width:850px) {
    .Allinputs >*{
        width: 90%;
        border-radius: 1000px;
    }
}


@media screen and (max-width: 600px) {
    .loading .dots{
        height: 10px;
        width: 10px;
    }

    .dotdiv{
        font-size: 7px;
        text-align: center;
    
    }

    .Allinputs > *{
        width: 90%;
        font-size: 10px;
        border-radius: 10000px;
        display: flex;
        justify-content: center;
    }

    .main-head img{
        height: 100%;
    }

    .poke-container{
        width: 90%;
    }

    .poke-card{
        width: 150px;
        height: 200px;
    }

    .poke-card h4{
        font-size: 12px;
        font-weight: 500;
    }

    .poke-card #poke-img{
        width: 50%;
    }

    .poke-card .poke-name{
        font-size: 10px;
    }

    .divider{
        width: 90%;
    }

    #poke-abs{
        box-shadow: 0 -1px 5px 3px rgba(0, 0, 0, 0.5);
    }

    .Allinputs button:hover{
        transform: unset;
    }

    .Allinputs button:active{
        scale: 1.05;
    }
}

@media screen and (max-width: 400px) {
    .poke-card{
        width: 100px;
        height: 150px;
    }

    .poke-card h4{
        font-size: 9px;
        font-weight: 500;
    }

    .poke-card #poke-img{
        width: 50%;
    }

    .poke-card .poke-name{
        font-size: 8px;
    }

    #poke-abs{
        font-size: 5px;
        bottom: 4px;
    }

    .abs{
        font-size: 5px;
    }
}